* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
}

body {
	background-color: #000;
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	color: #fff;
	font-family: Noto Sans Display, sans-serif;
	
}

a {
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
}


/* --- Header & Navigatie --- */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 2.5em 10vw;
	background: linear-gradient(to bottom, #000f, #0000);
	z-index: 3;
}

nav ul {
	display: flex;
	list-style: none;
	gap: 2em;
	justify-content: flex-end;
}

nav a {
	color: #fff;
	opacity: 70%;
	font-size: 1.2em;
}

nav a:hover, a:active, a:focus {
	opacity: 100%;
}



/* --- Hero Section --- */

section#hero {
	display: relative;
}

section#hero canvas {
	width: 100vw;
	height: 100vh;
	max-height: 80vw;
	position: fixed;
	top: 0;
	z-index: -1;
}

.hero-content {
	padding: 8em 0 2em 0;
	margin: 0 10vw;
}

h1 {
	font-size: min(4vw, 2em);
	font-weight: normal;
}

h1 span.big {
	display: block;
	font-size: 2.6em;
	font-weight: bold;
	background-image: radial-gradient(at 10% 50%, #ffffff, #7b7b7b);
	width: fit-content;
	-webkit-background-clip: text;
	color: transparent;
	margin: 1rem 0;
}

h1 span.big:nth-of-type(2) {
	margin-top: .2em;
}

h1 span.big:last-of-type {
	margin-bottom: 1em;
}

.hero-content p {
	font-size: 1em;
}

h2 {
	background-image: radial-gradient(at 50% 10%, #ffffff, #7b7b7b);
	width: fit-content;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 3em;
	margin: auto;
	margin-bottom: 1em;
}



/* --- Skills Section --- */

section#skills {
	padding: 2.5em 10vw 4em 10vw;
	background-color: #000;
}

section#skills div {
	width: 100%;
}

section#skills > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10vw;
}

section#skills img {
	width: 100%;
}

section#skills span {
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	width: fit-content;
	color: transparent;
	display: flex;
	align-items: center;
	gap: 1ch;
}

section#skills span:first-of-type {
	background: linear-gradient(to bottom right, #ff9900, #ff5c00);
	-webkit-background-clip: text;
}

section#skills span:nth-of-type(2) {
	background: linear-gradient(to bottom right, #0085ff, #0057ff);
	-webkit-background-clip: text;
}

section#skills span:nth-of-type(3) {
	background: linear-gradient(to bottom right, #faff00, #ffc700);
	-webkit-background-clip: text;
}

section#skills span:nth-of-type(4) {
	background: linear-gradient(to bottom right, #ad00ff, #8f00ff);
	-webkit-background-clip: text;
}

section#skills i {
	font-size: 1.6em;
}

progress {
  -webkit-appearance: none;
   appearance: none;

  width: 100%;
  height: .5em;
  border-radius: .25em;
  overflow: hidden;
  margin-bottom: 2em;
  margin-top: .5em;
}

progress::-webkit-progress-value {
	transition: .5s;
	border-radius: .25em;
}

progress:first-of-type::-webkit-progress-value {
	background: linear-gradient(to bottom right, #ff9900, #ff5c00);
}

progress:nth-of-type(2)::-webkit-progress-value {
	background: linear-gradient(to bottom right, #0085ff, #0057ff);
}

progress:nth-of-type(3)::-webkit-progress-value {
	background: linear-gradient(to bottom right, #faff00, #ffc700);
}

progress:nth-of-type(4)::-webkit-progress-value {
	background: linear-gradient(to bottom right, #ad00ff, #8f00ff);
}

section#skills img.logo {
	height: 2em;
	width: auto;
	margin-right: 2em;
	margin-top: 1em;
}



/* --- Projecten Section --- */

section#projecten {
	padding: 2.5em 0 2em 0;
	background-color: #000;
}


/* articles */

article {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
	border-bottom: 1px solid #333;
	align-items: center;
	position: relative;
	padding: 0 10vw 2em 10vw;
}

article:last-of-type {
	margin-bottom: 4em;
}

article div {
	width: 100%;
}

article:nth-of-type(2n + 1) div:first-of-type {
	order: 1;
	z-index: 2;
}


/* article tekst */

article h3 {
	font-size: 2em;
	line-height: 2;
	font-weight: lighter;
}

article i {
	font-size: 1.4em;
	margin-right: 1ch;
}

article img.logo {
	height: 1.4em;
}

article p {
	font-size: 1em;
	font-weight: normal;
	line-height: 1.6;
	margin: 1em 0;
	display: flex;
	align-items: center;
	gap: 1ch;
}

article p.big {
	font-size: 1.4em;
	line-height: 1.4;
	font-weight: bold;
}

article p:last-of-type {
	margin-bottom: 3em;
}


/* article linkjes */

article a {
	color: white;
	text-transform: uppercase;
	display: block;
	margin: 1em 0;
}

article a i {
	font-size: 1em;
	transition: .2s;
}

article a:hover i {
	transform: translateX(.5em);
}

article a small {
	opacity: 0;
	text-transform: capitalize;
	font-weight: 100;
	display: block;
}

article a:hover small {
	opacity: 1;
}


/* Ikea herontwerp article */

article#ikea-herontwerp video {
	width: 100vw;
	margin-left: -10vw;
}

article#ikea-herontwerp p:first-of-type {
	color: #FBD914;
}

article#ikea-herontwerp p:last-of-type {
	color: #0058AB;
}


/* De Serve article */

article#de-serve .phone-frame {
	background-image: url(../img/iphone-frame.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 3;
}

article#de-serve iframe {
	border-radius: .2em;
	margin: 6em;
	aspect-ratio: 375/667;
	width: 80%;
}

article#de-serve p:first-of-type {
	color: #FFA740;
}


/* Solar System article */

article#solar-system video {
	width: 200vw;
	z-index: 0;
	margin-left: -10vw;
	margin-bottom: -12em;
}

article#solar-system p:first-of-type {
	color: #9999ff;
}


/* --- Over mij section --- */

section#over-mij {
	background: #000;
}

section#over-mij > div {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

section#over-mij div div:first-of-type {
	order: 1;
	z-index: 1;
	padding: 0 10vw;
}

section#over-mij p {
	font-size: 1em;
	line-height: 1.6;
	margin: 2em 0;
}

section#over-mij img {
	width: 140vw;
}



/* --- Contact form Section --- */

section#contact {
	padding: 4em 0 0 0;
	background: #000;
}

form {
	width: 100%;
	position: relative;
	transition: .5s;
	display: grid;
	grid-template-columns: 100vw 100vw 100vw;
}

form > div {
	display: grid;
	width: 80%;
	margin: 0 10vw;
	justify-content: center;
	margin-bottom: 1em;
	grid-template-columns: max-content max-content;
	gap: 1em;
	align-content: flex-start;
}

label {
	font-size: 1.4em;
	line-height: 1;
	grid-column: 1/3;
}

.input-group {
	grid-column: 1;
}

input {
	background-color: #fff;
	border: none;
	font-size: 1.4em;
	padding: 0 2rem;
	height:	3rem;
	border-radius: 3rem;
	display: block;
	max-width: 60vw;
}

textarea {
	background-color: #fff;
	border: none;
	font-size: 1.4em;
	padding: .5rem 2rem;
	border-radius: 1.5rem;
	resize: none;
	display: block;
	font-family: Noto Sans Display, sans-serif;
	max-width: 60vw;
}

form button {
	background-color: #fff;
	border: none;
	font-size: 1.4em;
	height:	3rem;
	width: 3rem;
	border-radius: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	grid-column: 2;
}

form button:hover {
	transform: scale(.9);
}

#send {
	align-self: flex-end;
}

.invalid {
	outline: 2px solid #FFA740;
	color: #FFA740;
}

.validity {
	color: #FFA740;
	line-height: 2;
}

#success-message {
	color: lightgreen;
	text-align: center;
	margin-bottom: 1em;
	font-size: 1.4em;
	display: none;
}



/* loader bron: https://loading.io/css/ */

.lds-dual-ring {
  display: none;
  width: 3rem;
  height: 3rem;
  align-self: flex-end;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* --- Footer --- */

footer {
	padding: 2.5em 10vw;
	background-color: #111
}

footer div {
	width: 100%;
}

footer p {
	margin: 1em 0;
}

footer a {
	color: #fff;
	margin: 1em 0;
}

footer ul {
	list-style: none;
}

footer li {
	margin: 1em 0;
}


/* --- Stijlen voor grootformaat --- */

@media (min-width: 800px) {

	.hero-content {
		text-align: center;
		padding-top: min(40vh, 40vw);
		padding-bottom: min(40vh, 40vw);
	}

	.hero-content p {
		font-size: 1.2em;
	}

	h1 span.big {
		margin: min(50vh, 40vw) auto;
	}

	section#skills {
		padding: 2.5em 10vw 8em 10vw;
	}

	section#skills > div {
		flex-direction: row;
		gap: 10vw;
	}

	section#projecten {
		padding: 2.5em 0 8em 0;
	}

	article {
		flex-direction: row;
		gap: 10vw;
		margin-bottom: 16em;
		border: none;
		padding: 0 10vw 0 10vw;
	}

	article a {
		margin: 2em 0;
	}

	article#ikea-herontwerp video {
		width: 140%;
		margin-bottom: -25%;
		margin-left: -10%;
	}

	article#solar-system video {
		margin: auto;
		position: absolute;
		width: 100vw;
		left: 0;
		top: 0;
		bottom: 0;
	}

	section#over-mij > div {
		flex-direction: row;
		align-items: center;
		gap: 4em;
	}

	section#over-mij div div {
		width: 50%;
	}

	section#over-mij div div:first-of-type {
		padding: 0 10vw 0 0;
	}

	section#over-mij img {
		width: 80vw;
	}

	section#contact {
		padding: 8em 0;
	}

	form > div {
		grid-template-columns: max-content max-content max-content;
	}

	label {
		grid-column: 1;
		text-align: right;
		line-height: 2rem;
	}

	.input-group {
		grid-column: 2;
	}

	form button {
		grid-column: 3;
	}

	footer {
		display: flex;
	}

}

