* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*outline: 1px solid yellow;*/
}

:root {
	scroll-behavior: smooth;
	--max-width: 90rem;
	--side-margin: 10vw;
	--page-width: calc(100vw - 2 * var(--side-margin));
}

html, body {
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: #000;
	color: #fff;
	font-family: Noto Sans Display, sans-serif;
}

a {
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* --- Header & Navigatie --- */

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 2.5em var(--side-margin);
	background: linear-gradient(to bottom, #000f, #0000);
	z-index: 3;
	display: none;
}

nav ul {
	display: flex;
	list-style: none;
	gap: 2em;
	justify-content: flex-end;
}

nav a {
	color: #fff;
	opacity: 70%;
	font-size: 1.2em;
}

nav a:hover, a:active, a:focus {
	opacity: 100%;
}



/* --- Hero Section --- */

section#hero {
	display: relative;
}

section#hero canvas {
	width: 100vw;
	height: 100vh;
	max-height: 80vw;
	position: fixed;
	top: 0;
	z-index: -1;
	background-image: url('../img/background.jpeg');
	background-size: cover;
	background-position: center;
}

.hero-content {
	padding: 8em 0;
	margin: 0 var(--side-margin);
}

h1 {
	font-size: min(4vw, 2em);
	font-weight: normal;
}

h1 span.big {
	display: block;
	font-size: 2.6em;
	font-weight: bold;
	background-image: radial-gradient(at 10% 50%, #ffffff, #7b7b7b);
	width: fit-content;
	-webkit-background-clip: text;
	color: transparent;
	margin: 1rem 0;
}

h1 span.big:nth-of-type(2) {
	margin-top: .2em;
}

h1 span.big:last-of-type {
	margin-bottom: 1em;
}


/* --- Section Styles --- */

h2 {
	background-image: radial-gradient(at 50% 10%, #ffffff, #7b7b7b);
	width: fit-content;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 3em;
	margin: auto;
	margin-bottom: 1em;
}



/* --- Skills Section --- */

section#skills {
	padding: 0 var(--side-margin) 11vh var(--side-margin);
	background-color: #000;
}

section#skills ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	grid-gap: 2em;
	grid-row-gap: 2em;
}

section#skills li {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: .5em;
	transition: .3s ease;
	transform: scale(.8);
	opacity: .7;
}

/*section#skills li:hover {
	transform: scale(1.1);
}*/

section#skills img,
section#skills svg {
	width: 100%;
}

section#skills span {
	color: #ffffff;
	font-size: 1em;
	display: block;
	width: fit-content;
}

section#skills li:nth-child(1) {
	grid-column: 2/4;
	grid-row: 2;
	transition-delay: 0;
}

section#skills li:nth-child(2) {
	grid-column: 1/2;
	grid-row: 2;
	transition-delay: .1s;
}

section#skills li:nth-child(3) {
	grid-column: 4/5;
	grid-row: 2;
	transition-delay: .2s;
}

section#skills li:nth-child(4) {
	grid-column: 1/3;
	grid-row: 1;
	transition-delay: 0s;
}

section#skills li:nth-child(5) {
	grid-column: 3/5;
	grid-row: 1;
	transition-delay: .1s;
}

section#skills li:nth-child(6) {
	grid-column: 1/3;
	grid-row: 3/5;
	transition-delay: .2s;
}

section#skills li:nth-child(6) img {
	width: 50%;
}

section#skills li:nth-child(7) {
	grid-column: 3/5;
	grid-row: 3;
	transition-delay: .3s;
}

section#skills li:nth-child(8) {
	grid-column: 3/4;
	grid-row: 4;
	transition-delay: .4s;
}

@media (min-width: 500px) {
	section#skills ul {
		grid-template-columns: repeat(8, 1fr);
		grid-row-gap: 2em;
	}

	section#skills li:nth-child(1) {
		grid-column: 3/6;
		grid-row: 1/3;
	}

	section#skills li:nth-child(2) {
		grid-column: 1/3;
		grid-row: 1;
	}

	section#skills li:nth-child(3) {
		grid-column: 1/3;
		grid-row: 2;
	}

	section#skills li:nth-child(4) {
		grid-column: 6/9;
		grid-row: 2;
	}

	section#skills li:nth-child(5) {
		grid-column: 6/9;
		grid-row: 3;
	}

	section#skills li:nth-child(6) {
		grid-column: 6/9;
		grid-row: 1;
	}

	section#skills li:nth-child(7) {
		grid-column: 3/6;
		grid-row: 3;
	}

	section#skills li:nth-child(8) {
		grid-column: 1/3;
		grid-row: 3;
	}
}

@media (min-width: 750px) {
	section#skills ul {
		grid-gap: 3em;
		grid-template-columns: repeat(12, 1fr);
	}

	section#skills li:nth-child(1) {
		grid-column: 3/6;
		grid-row: 1/4;
	}

	section#skills li:nth-child(2) {
		grid-column: 1/3;
		grid-row: 1/3;
	}

	section#skills li:nth-child(3) {
		grid-column: 6/8;
		grid-row: 2/4;
	}

	section#skills li:nth-child(4) {
		grid-column: 6/10;
		grid-row: 1;
	}

	section#skills li:nth-child(5) {
		grid-column: 10/13;
		grid-row: 1;
	}

	section#skills li:nth-child(6) {
		grid-column: 11/13;
		grid-row: 2/4;
	}

	section#skills li:nth-child(7) {
		grid-column: 8/11;
		grid-row: 2;
	}

	section#skills li:nth-child(8) {
		grid-column: 1/3;
		grid-row: 3;
	}

}

@media (min-width: 1000px) {
	section#skills ul {
		grid-template-columns: repeat(12, 1fr);
	}

	section#skills li:nth-child(1) {
		grid-column: 5/7;
		grid-row: 1;
	}

	section#skills li:nth-child(2) {
		grid-column: 4/5;
		grid-row: 2;
	}

	section#skills li:nth-child(3) {
		grid-column: 7/8;
		grid-row: 2;
	}

	section#skills li:nth-child(4) {
		grid-column: 1/4;
		grid-row: 1;
	}

	section#skills li:nth-child(5) {
		grid-column: 1/3;
		grid-row: 2;
	}

	section#skills li:nth-child(6) {
		grid-column: 8/10;
		grid-row: 1;
	}

	section#skills li:nth-child(7) {
		grid-column: 9/12;
		grid-row: 2;
	}

	section#skills li:nth-child(8) {
		grid-column: 11/13;
		grid-row: 1;
	}
}

section#skills li.in-view {
	transform: scale(1);
	opacity: 1;
}

/* --- Projecten Section --- */

section#projecten {
	padding: 2.5em 0 11vh 0;
	background-color: #000;
}


/* articles */

article {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
	border-bottom: 1px solid #333;
	align-items: center;
	position: relative;
	padding: 0 var(--side-margin) 2em var(--side-margin);
}

article:last-of-type {
	margin-bottom: 4em;
}

article div {
	width: 100%;
}

article:nth-of-type(2n) div:first-of-type {
	order: 1;
	z-index: 2;
}

article div:first-of-type > * {
	max-width: calc((var(--max-width) - var(--side-margin)) / 2);
}

article:nth-of-type(2n + 1) div:first-of-type > div {
	margin: 0 0 0 auto;
}


/* article tekst */

article h3 {
	font-size: 2em;
	line-height: 2;
	font-weight: lighter;
}

article img.logo {
	height: 1.4em;
}

article p {
	font-size: 1em;
	font-weight: normal;
	line-height: 1.6;
	margin: 1em 0;
	display: flex;
	align-items: center;
	gap: 1ch;
}

article p.big {
	font-size: 1.4em;
	line-height: 1.4;
	font-weight: bold;
}

article p:last-of-type {
	margin-bottom: 3em;
}


/* article linkjes */

article a {
	color: white;
	text-transform: uppercase;
	display: block;
	margin: 1em 0;
}

article a i {
	font-size: 1em;
	transition: .2s;
}

article a:hover i {
	transform: translateX(.5em);
}

article a small {
	opacity: 0;
	text-transform: capitalize;
	font-weight: 100;
	display: block;
}

article a:hover small {
	opacity: 1;
}

article video {
	margin-left: calc(-1 * var(--side-margin));
}


/* Article tags */
ul.tags {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	grid-gap: 2em;
	grid-row-gap: .5em;
	align-items: center;
}

ul.tags li {
	display: flex;
	grid-gap: .5em;
	align-items: center;
}

ul.tags img {
	height: 1.5em;
}


/* CSS day-ta hackathon article */
article#css-day-ta img {
	width: 100%;
}

article#css-day-ta p:first-of-type {
	color: #E4B428;
}


/* Ikea herontwerp article */

article#ikea-herontwerp video {
	width: 100vw;
}

article#ikea-herontwerp p:first-of-type {
	color: #FBD914;
}

article#ikea-herontwerp p:last-of-type {
	color: #007BED;
}


/* De Serve article */

article#de-serve {
	z-index: 1;
}

article#de-serve .phone-frame {
	background-image: url(../img/iphone-frame.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 3;
}

article#de-serve iframe {
	width: 375px;
	height: 667px;
	transform-origin: top left;
	border-radius: .2em;
}

article#de-serve .phone-frame div {
	height: 100%;
	aspect-ratio: 375/667;
	border-radius: .2em;
	margin: 20%;
	overflow: hidden;

}

article#de-serve p:first-of-type {
	color: #FFA740;
}


/* Solar System article */

article#solar-system video {
	width: 200vw;
	z-index: 0;
	margin-bottom: -12em;
}

article#solar-system p:first-of-type {
	color: #9999ff;
}


/* --- Over mij section --- */

section#over-mij {
	background: #000;
	z-index: 1;
	position: relative;
	padding: 2.5em 0 11vh 0;
}

section#over-mij > div {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

section#over-mij div div:first-of-type {
	order: 1;
	z-index: 1;
	padding: 0 var(--side-margin);
}

section#over-mij p {
	font-size: 1em;
	line-height: 1.6;
	margin: 2em 0;
	max-width: calc((var(--max-width) - var(--side-margin)) / 2);
}

section#over-mij img {
	width: 140vw;
}



/* --- Contact form Section --- */

section#contact {
	background: #000;
}

form {
	width: 80%;
	max-width: 50em;
	margin: auto;
	position: relative;
	transition: .5s;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: .6rem;
}

label {
	font-size: 1em;
	line-height: 1.2;
	grid-column: 1;
}

.input-group {
	grid-column: 1;
}

.input-group:after {
	content: '';
	display: block;
	color: #FFA740;
	margin: .2em 0;
	height: 1.2em;
}

.input-group:has( :user-invalid):after {
	content: attr(data-error);
}

.input-group:has( :focus):after {
	content: '';
}

input, textarea, form button {
	background-color: #fff;
	border: none;
}

input, textarea {
	font-size: 1.2em;
	padding: .6rem 1.2rem;
	border-radius: 1.2rem;
	display: block;
	width: 100%;
}

input {
	max-width: 40ch;
}

input:user-valid,
textarea:user-valid {
	outline: 2px solid #0f0;
}

input:user-invalid,
textarea:user-invalid {
	outline: 2px solid #FFA740;
}

input:focus,
textarea:focus {
	outline: 2px solid dodgerblue;
}

textarea {
	resize: none;
	font-family: Noto Sans Display, sans-serif;
}

form button {
	font-size: 1.4em;
	height:	3rem;
	width: 3rem;
	border-radius: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	grid-column: 1;
	align-self: flex-end;
	margin-bottom: 1.6rem;
}

form button:hover {
	transform: scale(.9);
}

.invalid {
	outline: 2px solid #FFA740;
	color: #FFA740;
}

.validity {
	color: #FFA740;
	line-height: 2;
}

#success-message {
	color: lightgreen;
	text-align: center;
	margin-bottom: 1em;
	font-size: 1.4em;
	display: none;
}


@media (min-width: 500px) {
	form {
		grid-template-columns: 1fr max-content;
	}

	textarea {
		margin-bottom: 0;
	}

	form button {
		grid-column: 2;
	}

}

@media (min-width: 650px) {
	form {
		grid-template-columns: max-content 1fr max-content;
		grid-gap: 1em;
		grid-row-gap: 2em;
	}

	label {
		text-align: right;
		line-height: 2;
		font-size: 1.2rem;
	}

	.input-group {
		grid-column: 2;
		margin-bottom: 0;
	}

	form button {
		grid-column: 3;
	}
}



/* loader bron: https://loading.io/css/ */

.lds-dual-ring {
  display: none;
  width: 3rem;
  height: 3rem;
  align-self: flex-end;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* --- Footer --- */

footer {
	padding: 2.5em var(--side-margin);
	background-color: #111;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

footer div {
	width: 100%;
}

footer p {
	margin: 1em 0;
}

footer a {
	color: #fff;
	margin: 1em 0;
}

footer ul {
	list-style: none;
}

footer li {
	margin: 1em 0;
}


/* --- Stijlen voor grootformaat --- */

@media (min-width: 800px) {

	header {
		display: block;
	}

	.hero-content {
		text-align: center;
		padding-top: min(40vh, 40vw);
		padding-bottom: min(40vh, 40vw);
	}

	.hero-content p {
		font-size: 1.2em;
	}

	h1 span.big {
		margin: min(50vh, 40vw) auto;
	}

	article {
		flex-direction: row;
		gap: var(--side-margin);
		margin-bottom: 8em;
		border: none;
		padding: 0 var(--side-margin);
	}

	article a {
		margin: 2em 0;
	}

	article#ikea-herontwerp video {
		width: 140%;
		margin-bottom: -25%;
		margin-left: -10%;
	}

	article#solar-system video {
		margin: auto;
		position: absolute;
		width: 100vw;
		left: 0;
		top: 0;
		bottom: 0;
	}

	section#over-mij > div {
		flex-direction: row;
		align-items: center;
		gap: calc(var(--side-margin) / 2);
	}

	section#over-mij div div {
		width: 50%;
	}

	section#over-mij div div:first-of-type {
		padding: 0 var(--side-margin) 0 0;
	}

	section#over-mij img {
		width: 80vw;
	}

	section#over-mij p {

	}

	section#contact {
		padding: 8em 0;
	}

	footer {
		flex-direction: row;
	}

}

